.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login img {
    margin: 30px auto;
    object-fit: contain;
    width: 100px;
  }
  
  .login_container {
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
  }
  .login_container h1 {
    font-size: 25px;
    margin: 20px 0;
    }
    .login_container form {
    display: flex;
    flex-direction: column; gap: 10px;
    }
    .login_container form div {
    display: flex;
    flex-direction: column; gap: 5px;
    }
    
    .login_container form input {
      margin-bottom: 10px;
      padding: 8px 16px;
      background-color: white;
      width: 90%;
      border: 1px solid gray;
      border-radius: 3px;
    }
    
    .login_container form input:focus {
      outline: 2px solid skyblue;
    }
    
    .login_signInButton {
      border: none;
      background: #f0c14b;
      border-radius: 5px;
      width: 100%;
      height: 30px;
      margin-top: 10px;
      cursor: pointer;
    }
    /* .login_signInButton:hover styling */
.login_signInButton:hover {
  background-color: var(--primary-shade);
}





    .login_container p {
      padding: 10px 0px;
      font-size: 14px;
  }
  
  .login_registerButton {
      border: none;
      border-radius: 5px;
      width: 100%;
      height: 30px;
      margin-top: 10px;
      cursor: pointer;
  }
  /* .login_registerButton:hover styling */
.login_registerButton:hover {
  background-color: lightgray;
}