.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    }
    .container.div:not(.subtotal){
        height: auto;
    }
    .btn__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    
    .btn {
        padding: 5px 16px;
        font-weight: bold;
        cursor: pointer;
        background-color: #fff;
        border: none;
    }
    .btn:hover svg {
        background-color: var(--primary-color);
    }
    
    
    
    .cart__product{
        display: flex;
        gap: 10px;
    }
    .cart__container {
    padding: 20px;
    }
    .cart_container h2,
    .cart_container h3 {
    padding: 10px;
    }
    .cart__container hr {
    margin: 10px;
    }
    .subtotal {
        padding: 20px;
        min-width: 300px;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border: 1px solid rgb(193, 193, 193);
        background-color: rgb(242, 241, 241);
        border-radius: 5px;
        }
        .subtotal a {
        text-align: center;
        width: 100%;
        border: none;
        background-color: var(--primary-color);
        border-radius: 5px;
        padding: 5px 10px;
        text-decoration: none;
        color: black;
        }
        .subtotal a:hover {
        background: var(--primary-shade);}
        @media screen and (max-width: 968px) {
            .container {
            flex-direction: column;
            order: 1;
            }}