/* Reset default padding and margin */
* 
  
  /* Styles for the card container */
  .card_container {
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    color: black;
    text-decoration: none;
    position: relative;
  }
  
  /* Show button when hovering over the card container */
  .card_container:hover .button {
    display: block;
  }
  
  /* Styles for images inside the card container */
  .card_container img {
    padding: 10px;
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  
  /* Styles for the button */
  .button {
    display: none;
    padding: 5px 10px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
    width: 100%;
    margin: 10px 0;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  /* Change button background color on hover */
  .button:hover {
    background-color: var(--primary-shade);
  }
  
  /* Styles for the rating */
  .rating {
    display: flex;
    align-items: center;
    padding: 10px 0px;
  }
  
  /* Styles for the products container */
  .products_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-width: 80%;
    margin: 100px auto 100px auto;
    gap: 50px;
    justify-items: center;
  }
  
  
  
  /* Styles for sections inside the products container */
  .products_container section {
    margin: 0;
  }
  
/* Remove box shadow and adjust height for flexed layout */
.product_flexed {
  box-shadow: none;
  height: 50vh; /* Set a specific height */
  display: flex;
  gap: 50px;
  width: 100%;
}

.product_flexed h3 {
  padding: 10px 0; /* Adjust padding */
}

.product_flexed .button {
  display: block;
  position: static;
  width: 150px;
  margin-right: 40px;
}

.product_flexed img {
  width: 300px !important;
  height: auto;
}

@media screen and (max-width: 768px) {
  .product_flexed {
    display: flex;
    flex-direction: column;
  }
}
